.container {
    max-width: auto;
    padding: 0;
    align-items: center;
}

.png img {
    max-width: 700px;
}

.jpg img {
    border-radius: 5%;
}

.svg img {
    margin: 20px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
